<a href="https://colab.research.google.com/github/RadhikaRM/Playstore-Data-Analysis/blob/main/PlayStore_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Problem statement**
## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for category, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

Google Play Store is a major app distribution platform for Android users.There are thousands of applications for various purposes available here.As a result,the competition in the app market is quite fierce.To carve their niche in this market,companies should go about it very strategically.App developers would benefit greatly from knowing what works and what does not work on Playstore.

> ***There comes data to our rescue!***

We can make use of historical data of Apps in Playstore.The Playstore apps data available to us contain details regarding the category,rating,size and several other factors about the apps.We also have another dataset containing the customer reviews of Android apps.
By performing Exploratory Data Analysis on these datasets,we can figure out the key factors responsible for App Engagement  and Success.

So,let's get started!


First,we import the libraries and modules which we have to use in this analysis.

## **Importing the required libraries**

In [235]:
#importing the required libraries and modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!


## **Bringing in the data**

In [236]:
#mounting the drive containing the data files
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [237]:
#reading the playstore data and user reviews data
PS_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone projects/Project 1- Playstore Data Analysis/ PlayStore_Data.csv')
UR_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone projects/Project 1- Playstore Data Analysis/ User_Reviews.csv')


---
## **Data cleaning and preparation**


***“No data is clean, but most is useful.***”~ Dean Abbott

An important part of the data analysis process is Data Cleaning.  Only when the data has been cleaned can it be analysed and transformed into something beneficial.



>## ***Playstore data***

In [238]:
#To display the first 3 observations of the data 
PS_df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [239]:
#To display the last 5 observations of the data 
PS_df.tail(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### **Data Description of Playstore dataframe**

The **PS_df** contains **10841** rows and **13** columns in total.
The columns present in the Play Store dataframe are:

1.   **App :** Name of the application
2.  **Category**: Category in which the app belongs
3.   **Rating**: Rating given by users to the particular app
4.  **Reviews**: The number of reviews received by the app
5.  **Size**: The amount of space required for app installation
5.  **Installs**: The number of installations of the app 
6.   **Type**: The type of the app ,whether its free or paid
7.   **Price**: The price of the app
8.   **Content rating**:The targeted audience of the app
9.   **Genres**: The genre of content offered by the app
10.  **Last updated**:The date on which the app was last updated
11.  **Current Ver**:The current version of the app
12.  **Android Ver**: The Andriod version(s) supported by the app

In [240]:
def dataframe_info(df):
  ''' 
  Returns a dataframe displaying the column datatypes,
  count of unique values and count & percent of missing values in the dataframe
  '''
  info_df=df.isnull().sum().reset_index()
  info_df.rename(columns={'index':'Column_name',0:'Count_of_missing_values'},inplace=True)
  info_df['% of  NaN']=round((info_df['Count_of_missing_values']/len(df))*100,2)
  info_df['dtype']=df.dtypes.values
  info_df['Count_of_unique_values']=df.nunique(axis=0).values
  return(info_df)

In [241]:
#To understand the datatypes of features in playstore data and to determine the count of missing values
dataframe_info(PS_df)

,Column_name,Count_of_missing_values,% of NaN,dtype,Count_of_unique_values
0,App,0,0.00,object,9660
1,Category,0,0.00,object,34
2,Rating,1474,13.60,float64,40
3,Reviews,0,0.00,object,6002
4,Size,0,0.00,object,462
5,Installs,0,0.00,object,22
6,Type,1,0.01,object,3
7,Price,0,0.00,object,93
8,Content Rating,1,0.01,object,6
9,Genres,0,0.00,object,120
10,Last Updated,0,0.00,object,1378
11,Current Ver,8,0.07,object,2832
12,Android Ver,3,0.03,object,33

* It is evident that the dataset contains several null values.
* The datatypes of columns such as Size,Installs,Rating,Price,Content Rating are incorrect

In [242]:
#displaying the unique values of some columns in PS_df
for col in PS_df.columns:
  if PS_df[col].nunique()<500:
    print(f"The unique values in {col} column are :")
    print(PS_df[col].unique())
    print('\n')

The unique values in Category column are :
['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION' '1.9']


The unique values in Rating column are :
[ 4.1  3.9  4.7  4.5  4.3  4.4  3.8  4.2  4.6  3.2  4.   nan  4.8  4.9
  3.6  3.7  3.3  3.4  3.5  3.1  5.   2.6  3.   1.9  2.5  2.8  2.7  1.
  2.9  2.3  2.2  1.7  2.   1.8  2.4  1.6  2.1  1.4  1.5  1.2 19. ]


The unique values in Size column are :
['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Varies with device'
 '9.4M' '15M' '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M'
 '201k' '3.6M' '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M'
 '3.9M' '2.9M' '38M' '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M'
 '9.0M' '6.7M' '30M' '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M'
 '8.2M' '9.9M' '4.9M' '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M'
 '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M'
 '7.5M' '51M' '41M' '48M' '8.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M'
 '7.8M' '8.8M' '6.6M' '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k'
 '1.6M' '6.2M' '18k' '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M'
 '49M' '77M' '4.4M' '4.8M' '70M' '6.9M' '9.3M' '10.0M' '8.1M' '36M' '84M'
 '97M' '2.0M' '1.9M' '1.8M' '5.3M' '47M' '556k' '526k' '76M' '7.6M' '59M'
 '9.7M' '78M' '72M' '43M' '7.7M' '6.3M' '334k' '34M' '93M' '65M' '79M'
 '100M' '58M' '50M' '68M' '64M' '67M' '60M' '94M' '232k' '99M' '624k'
 '95M' '8.5k' '41k' '292k' '11k' '80M' '1.7M' '74M' '62M' '69M' '75M'
 '98M' '85M' '82M' '96M' '87M' '71M' '86M' '91M' '81M' '92M' '83M' '88M'
 '704k' '862k' '899k' '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M'
 '89M' '696k' '544k' '525k' '920k' '779k' '853k' '720k' '713k' '772k'
 '318k' '58k' '241k' '196k' '857k' '51k' '953k' '865k' '251k' '930k'
 '540k' '313k' '746k' '203k' '26k' '314k' '239k' '371k' '220k' '730k'
 '756k' '91k' '293k' '17k' '74k' '14k' '317k' '78k' '924k' '902k' '818k'
 '81k' '939k' '169k' '45k' '475k' '965k' '90M' '545k' '61k' '283k' '655k'
 '714k' '93k' '872k' '121k' '322k' '1.0M' '976k' '172k' '238k' '549k'
 '206k' '954k' '444k' '717k' '210k' '609k' '308k' '705k' '306k' '904k'
 '473k' '175k' '350k' '383k' '454k' '421k' '70k' '812k' '442k' '842k'
 '417k' '412k' '459k' '478k' '335k' '782k' '721k' '430k' '429k' '192k'
 '200k' '460k' '728k' '496k' '816k' '414k' '506k' '887k' '613k' '243k'
 '569k' '778k' '683k' '592k' '319k' '186k' '840k' '647k' '191k' '373k'
 '437k' '598k' '716k' '585k' '982k' '222k' '219k' '55k' '948k' '323k'
 '691k' '511k' '951k' '963k' '25k' '554k' '351k' '27k' '82k' '208k' '913k'
 '514k' '551k' '29k' '103k' '898k' '743k' '116k' '153k' '209k' '353k'
 '499k' '173k' '597k' '809k' '122k' '411k' '400k' '801k' '787k' '237k'
 '50k' '643k' '986k' '97k' '516k' '837k' '780k' '961k' '269k' '20k' '498k'
 '600k' '749k' '642k' '881k' '72k' '656k' '601k' '221k' '228k' '108k'
 '940k' '176k' '33k' '663k' '34k' '942k' '259k' '164k' '458k' '245k'
 '629k' '28k' '288k' '775k' '785k' '636k' '916k' '994k' '309k' '485k'
 '914k' '903k' '608k' '500k' '54k' '562k' '847k' '957k' '688k' '811k'
 '270k' '48k' '329k' '523k' '921k' '874k' '981k' '784k' '280k' '24k'
 '518k' '754k' '892k' '154k' '860k' '364k' '387k' '626k' '161k' '879k'
 '39k' '970k' '170k' '141k' '160k' '144k' '143k' '190k' '376k' '193k'
 '246k' '73k' '658k' '992k' '253k' '420k' '404k' '1,000+' '470k' '226k'
 '240k' '89k' '234k' '257k' '861k' '467k' '157k' '44k' '676k' '67k' '552k'
 '885k' '1020k' '582k' '619k']


The unique values in Installs column are :
['10,000+' '500,000+' '5,000,000+' '50,000,000+' '100,000+' '50,000+'
 '1,000,000+' '10,000,000+' '5,000+' '100,000,000+' '1,000,000,000+'
 '1,000+' '500,000,000+' '50+' '100+' '500+' '10+' '1+' '5+' '0+' '0'
 'Free']


The unique values in Type column are :
['Free' 'Paid' nan '0']


The unique values in Price column are :
['0' '$4.99' '$3.99' '$6.99' '$1.49' '$2.99' '$7.99' '$5.99' '$3.49'
 '$1.99' '$9.99' '$7.49' '$0.99' '$9.00' '$5.49' '$10.00' '$24.99'
 '$11.99' '$79.99' '$16.99' '$14.99' '$1.00' '$29.99' '$12.99' '$2.49'
 '$10.99' '$1.50' '$19.99' '$15.99' '$33.99' '$74.99' '$39.99' '$3.95'
 '$4.49' '$1.70' '$8.99' '$2.00' '$3.88' '$25.99' '$399.99' '$17.99'
 '$400.00' '$3.02' '$1.76' '$4.84' '$4.77' '$1.61' '$2.50' '$1.59' '$6.49'
 '$1.29' '$5.00' '$13.99' '$299.99' '$379.99' '$37.99' '$18.99' '$389.99'
 '$19.90' '$8.49' '$1.75' '$14.00' '$4.85' '$46.99' '$109.99' '$154.99'
 '$3.08' '$2.59' '$4.80' '$1.96' '$19.40' '$3.90' '$4.59' '$15.46' '$3.04'
 '$4.29' '$2.60' '$3.28' '$4.60' '$28.99' '$2.95' '$2.90' '$1.97'
 '$200.00' '$89.99' '$2.56' '$30.99' '$3.61' '$394.99' '$1.26' 'Everyone'
 '$1.20' '$1.04']


The unique values in Content Rating column are :
['Everyone' 'Teen' 'Everyone 10+' 'Mature 17+' 'Adults only 18+' 'Unrated'
 nan]


The unique values in Genres column are :
['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Simulation' 'Adventure' 'Board' 'Trivia'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Trivia;Education' 'Lifestyle;Education'
 'Books & Reference;Creativity' 'Books & Reference;Education'
 'Puzzle;Education' 'Role Playing;Education' 'Role Playing;Brain Games'
 'Strategy;Education' 'Racing;Pretend Play' 'Communication;Creativity'
 'February 11, 2018' 'Strategy;Creativity']


The unique values in Android Ver column are :
['4.0.3 and up' '4.2 and up' '4.4 and up' '2.3 and up' '3.0 and up'
 '4.1 and up' '4.0 and up' '2.3.3 and up' 'Varies with device'
 '2.2 and up' '5.0 and up' '6.0 and up' '1.6 and up' '1.5 and up'
 '2.1 and up' '7.0 and up' '5.1 and up' '4.3 and up' '4.0.3 - 7.1.1'
 '2.0 and up' '3.2 and up' '4.4W and up' '7.1 and up' '7.0 - 7.1.1'
 '8.0 and up' '5.0 - 8.0' '3.1 and up' '2.0.1 and up' '4.1 - 7.1.1' nan
 '5.0 - 6.0' '1.0 and up' '2.2 - 7.1.1' '5.0 - 7.1.1']

Besides null values,the data could also  contain  duplicate values, values with incorrect datatypes and formats,irrelevant columns and outliers . It is important to replace/remove these values before proceeding with the analysis. So let's get to work and treat them right!

**1.Dropping Duplicate rows**

In [243]:
#finding the number of duplicates in 'App' column
PS_df.duplicated(['App']).value_counts()

False    9660
True     1181
dtype: int64

In [244]:
# Updates the playstore dataframe with duplicate rows removed
PS_df.sort_values(["App","Reviews"],inplace=True)
PS_df.drop_duplicates("App","last",inplace=True)
PS_df.reset_index(drop=True,inplace=True)

**2.Handling missing or NaN values**

>**2.1. Treating null value in 'Type' column**

In [245]:
#identifying the app with type NaN
PS_df[PS_df['Type'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2641,Command & Conquer: Rivals,FAMILY,NaN,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

After cross-checking in the Google Playstore,I have identified that this app belongs to the Type 'Free'

In [246]:
#Filling the type of the app as Free
PS_df['Type'].fillna("Free", inplace = True)

>**2.2. Treating null value in 'Content Rating' column**

In [247]:
#identifying the app with Content Rating NaN
PS_df[PS_df['Content Rating'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
5806,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

The value of category  and genres column is missing in this row .This app belongs to 'LIFESTYLE' category and the same genre.

In [248]:
#Filling in the values for Category and Genres
PS_df.loc[5806, :] = ['Life Made WI-Fi Touchscreen Photo Frame', 'LIFESTYLE',1.9, 19.0, '3.0M',
       '1,000+', 'Free', '0', 'Everyone', 'Lifestyle', 'February 11, 2018',
       '1.0.19', '4.0 and up']
PS_df.loc[5806, :]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                        LIFESTYLE
Rating                                                1.9
Reviews                                              19.0
Size                                                 3.0M
Installs                                           1,000+
Type                                                 Free
Price                                                   0
Content Rating                                   Everyone
Genres                                          Lifestyle
Last Updated                            February 11, 2018
Current Ver                                        1.0.19
Android Ver                                    4.0 and up
Name: 5806, dtype: object

>**2.3. Treating the null values in 'Rating' column**


As seen earlier,The 'Rating' column has 1474 null values which accounts to a significant amount of data .So,dropping rows containing null values of Rating can drastically affect our analysis.So, it is wise to better to replace the null values with the median value of Rating.

In [249]:
#taking median value of the rating column and replace NaN values in it with it
rating_median = PS_df['Rating'].median()

In [250]:
#Replacing the NaN values of  "Rating" with the median value
PS_df['Rating'].fillna(value=rating_median, inplace = True)

>**2.4. Dropping the null values in 'Android Ver'  and 'Current Ver' columns**

In [251]:
#dropping null values in 'Android Ver' and 'Current Ver' columns
PS_df = PS_df.dropna(subset= ["Current Ver","Android Ver"],how = "any")

In [252]:
#check if the playstore dataframe has any null values to ensure that all modifications are in place
PS_df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

Perfect!No more null values

**3. Correcting data types**

Reviews, Size, Installs, and Price should have numeric datatypes, but we find object type here, therefore let's convert them to their respective data types.


>  **3.1. Correcting datatype of 'Reviews' column**

In [253]:
#Changing datatype for "Reviews" column
PS_df['Reviews'] = PS_df['Reviews'].astype(float)


>  **3.2. Correcting datatype of 'Size' column**

In [254]:
#the count of number of apps with the same size 
PS_df['Size'].value_counts()

Varies with device    1227
12M                    181
11M                    181
13M                    177
14M                    176
                      ...
914k                     1
353k                     1
784k                     1
951k                     1
549k                     1
Name: Size, Length: 457, dtype: int64

In [255]:
# Replacing/removing the string characters in  "Size" column

PS_df['Size'] = PS_df.Size.apply(lambda x: x.replace(',', ''))
PS_df['Size'] = PS_df.Size.apply(lambda x: x.replace('M', 'e+6'))
PS_df['Size'] = PS_df.Size.apply(lambda x: x.replace('k', 'e+3'))

#For the time being,replacing 'Varies with device' with Nan 
PS_df['Size'] = PS_df.Size.replace('Varies with device', np.NaN)

In [256]:
#Changing datatype for "Size" column
PS_df['Size']= PS_df['Size'].apply(pd.to_numeric)

In [257]:
#Converting the value in bytes to megabytes for easier interpretation
PS_df['Size']=PS_df['Size']/(10**6)

In [258]:
#determining the mean,median of Apps sizes excluding the apps with Nan values
PS_df[PS_df['Size']!=np.nan]['Size'].describe()

count    8423.000000
mean       20.409646
std        21.830924
min         0.008500
25%         4.600000
50%        12.000000
75%        28.000000
max       100.000000
Name: Size, dtype: float64

Majority of the apps have size that 'Varies with device'.Keeping those apps aside,we see that  minimum size of apps in the dataset is 8.5KB and the maximum size is 100 MB.It looks like most of the apps in playstore are sized under 28 MB which is why we get median of 12MB and mean of 20MB.


> **3.3. Correcting datatype of 'Installs' column**

In [259]:
#Displaying the unqiue values in Installs column
PS_df['Installs'].unique()

array(['500+', '1,000,000+', '10,000+', '100+', '100,000+', '500,000+',
       '10,000,000+', '5,000+', '50,000+', '5+', '1,000+', '10+',
       '50,000,000+', '100,000,000+', '5,000,000+', '50+', '0+', '1+',
       '500,000,000+', '0', '1,000,000,000+'], dtype=object)

In [260]:
# Replacing/removing the string characters in "Installs" column
PS_df['Installs']=PS_df['Installs'].apply(lambda x: x.strip('+'))
PS_df['Installs']=PS_df['Installs'].apply(lambda x: x.replace(',',''))

#Changing datatype for "Installs" column
PS_df['Installs']=PS_df['Installs'].astype(int)

In [261]:
# #The counts of apps with same number of installations
# PS_df['Installs'].value_counts()

Looks like most number of apps have 1 Million installs.There are 20 apps with 100 million downloads .

In [262]:
PS_df['Installs'].describe()

count    9.650000e+03
mean     7.787301e+06
std      5.378459e+07
min      0.000000e+00
25%      1.000000e+03
50%      1.000000e+05
75%      1.000000e+06
max      1.000000e+09
Name: Installs, dtype: float64

About 75% of apps in Playstore have installations under 1 Million.The maximum number of downloads for an app/apps is 100 Million.There are also quite a few apps which have been not installed at all.


> **3.4. Correcting datatype of 'Price' column**

In [263]:
# Replacing/removing the string characters in "Price" column
PS_df['Price']=PS_df['Price'].apply(lambda x: x.replace('$',''))

#Changing datatype for "Price" column
PS_df['Price']=PS_df['Price'].astype(float)

> **3.5.  Correcting datatype of 'Last updated' column and extracting two new columns**

In [264]:
#Changing the datatype of column "Last updated" and extracting year and month of last update 
PS_df['Last Updated']=PS_df['Last Updated'].apply(lambda x : datetime.strptime(x,"%B %d, %Y"))

 **4. Sanity checks**

In [265]:
PS_df[PS_df['Reviews']>PS_df['Installs']]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
434,AX Watch for WatchMaker,PERSONALIZATION,4.3,2.0,0.238,1,Paid,0.99,Everyone,Personalization,2017-08-18,1.0,2.3 and up
629,Alarmy (Sleep If U Can) - Pro,LIFESTYLE,4.8,10249.0,NaN,10000,Paid,2.49,Everyone,Lifestyle,2018-07-30,Varies with device,Varies with device
1765,Brick Breaker BR,GAME,5.0,7.0,19.000,5,Free,0.00,Everyone,Arcade,2018-07-23,1.0,4.1 and up
2970,DN Blog,SOCIAL,5.0,20.0,4.200,10,Free,0.00,Teen,Social,2018-07-23,1.0,4.0 and up
3151,DZ Puzzle,FAMILY,4.3,14.0,47.000,10,Paid,0.99,Everyone,Puzzle,2017-04-22,1.2,2.3 and up
5532,KBA-EZ Health Guide,MEDICAL,5.0,4.0,25.000,1,Free,0.00,Everyone,Medical,2018-08-02,1.0.72,4.0.3 and up
6349,Mu.F.O.,GAME,5.0,2.0,16.000,1,Paid,0.99,Everyone,Arcade,2017-03-03,1.0,2.3 and up
7301,RMEduS - 음성인식을 활용한 R 프로그래밍 실습 시스템,FAMILY,4.3,4.0,64.000,1,Free,0.00,Everyone,Education,2018-07-17,1.0.1,4.4 and up
7314,Ra Ga Ba,GAME,5.0,2.0,20.000,1,Paid,1.49,Everyone,Arcade,2017-02-08,1.0.4,2.3 and up
7643,Sam.BN Pro,TOOLS,4.3,11.0,2.000,10,Paid,0.99,Everyone,Tools,2015-03-27,1.0.0,4.0.3 and up
8603,Trovami se ci riesci,GAME,5.0,11.0,6.100,10,Free,0.00,Everyone,Arcade,2017-03-11,0.1,2.3 and up

Reviews given without even Installing the apps makes no sense.So let's remove these entries.

In [266]:
PS_df.drop(PS_df[PS_df['Reviews']>PS_df['Installs']].index , inplace=True)

Are there any entries with ratings less than zero or greater than 5?

In [267]:
PS_df[(PS_df['Rating']>5) | (PS_df['Rating']<0)]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

There are no such  entries.

In [268]:
#Statistical summary of numerical columns
PS_df.describe()

            Rating       Reviews         Size      Installs        Price
count  9639.000000  9.639000e+03  8413.000000  9.639000e+03  9639.000000
mean      4.191493  2.170357e+05    20.409713  7.796186e+06     1.100396
std       0.496792  1.833271e+06    21.833382  5.381463e+07    16.869580
min       1.000000  0.000000e+00     0.008500  0.000000e+00     0.000000
25%       4.000000  2.500000e+01     4.600000  1.000000e+03     0.000000
50%       4.300000  9.750000e+02    12.000000  1.000000e+05     0.000000
75%       4.500000  2.947350e+04    28.000000  1.000000e+06     0.000000
max       5.000000  7.815831e+07   100.000000  1.000000e+09   400.000000

The datatypes of all the columns have been corrected.

The Cleaned Playstore dataset has 9638 entries.Now let's move on to the User Review dataset.

###**Creating new columns**

In [269]:
# segment and sort the numeric data values in Size column into bins
#Creating Size_groups
def size_group(app_size):
  '''
  This function is used to segment and sort numeric data values in Size column into groups
  '''
  if app_size<1:
    return('<1MB')
  elif app_size>1 and app_size<=20:
    return('1MB-20MB') 
  elif app_size>20 and app_size<=40:
    return('20MB-40MB')
  elif app_size>40 and app_size<=60:
    return('40MB-60MB')
  elif app_size>60 and app_size<=80:
    return('60MB-80MB')
  elif app_size>80 and app_size<=100:
    return('80MB-100MB')
  else:
    return('Varies with device')

In [270]:
#Creating size group from 'Size' column
PS_df['Size_group']=PS_df['Size'].apply(lambda x:size_group(x))

In [ ]:
#Extracting year and month from 'Last Updated' column
PS_df['Last_update_year']=PS_df['Last Updated'].apply(lambda x :x.year)
PS_df['Last_update_month']=PS_df['Last Updated'].apply(lambda x :x.month)



> ## ***User review data***

In [ ]:
#To display first 5 observations of User Review dataframe
UR_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [ ]:
#To display last 5 observations of User Review dataframe
UR_df.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

## **Data Description of User Reviews dataframe**

The User Review dataframe contains the following information:

1.  **App:** Name of the application.
2.   **Translated_Review:** The review given by the user, translated to English.
3.   **Sentiment:** The nature of the review,whether it is positive or negative.
4.   **Sentiment_Polarity:** numerical value given to the sentiment of the user by analyzing the translated review.Its value ranges from[-1,1].A review which has  sentiment polarity in the range of [-1,0) can be considered to have negative sentiment.A value of 0 corresponds to a neutral sentiment and values ranging from (0,1] indicates that the review has a positive sentiment.

5.   **Sentiment_Subjectivity:** quantifies the amount of personal opinion and factual information contained in the translated reviews.Its value ranges from [0,1].A value of 0 indicates that the review is purely objective(fact) and a value of 1 implies that the review is purely subjective(opinion).

In [ ]:
#To understand the datatypes of features in UR_df and to determine the count of missing values
dataframe_info(UR_df)

              Column_name  Count_of_missing_values  % of  NaN    dtype
0                     App                        0       0.00   object
1       Translated_Review                    26868      41.79   object
2               Sentiment                    26863      41.78   object
3      Sentiment_Polarity                    26863      41.78  float64
4  Sentiment_Subjectivity                    26863      41.78  float64

 **1.Dealin with duplicate rows**

In [ ]:
#Checking for the presence of entries which are entirely duplicated
UR_df.duplicated( ).value_counts()

False    29692
True      7735
dtype: int64

The reviews in the Translated_Review column need not be unique.The translated version of people's opinions for the apps could be similar.So we are not dropping the duplicate rows

In [ ]:
UR_df[UR_df.duplicated()].head(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
78,10 Best Foods for You,Good,Positive,0.70,0.600000
79,10 Best Foods for You,Good,Positive,0.70,0.600000
100,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
101,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
103,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000

**2.Handling missing values**

In [ ]:
#checking for null values
UR_df.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [ ]:
pd.concat([UR_df[UR_df['Translated_Review'].isnull()].head(5),UR_df[UR_df['Translated_Review'].isnull()].tail(5)])

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
2,10 Best Foods for You,NaN,NaN,NaN,NaN
7,10 Best Foods for You,NaN,NaN,NaN,NaN
15,10 Best Foods for You,NaN,NaN,NaN,NaN
102,10 Best Foods for You,NaN,NaN,NaN,NaN
107,10 Best Foods for You,NaN,NaN,NaN,NaN
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

These entries do not contain any textual information in the Translated_review column and so,they are not helpful to us.So it's better to drop these rows.

In [ ]:
#Eliminating the existing null value(s) from Translated_Review
UR_df.dropna(subset = ['Translated_Review'], inplace=True)

In [ ]:
#Checking for null values in Sentiment,Sentiment_Polarity,Sentiment_Subjectivity columns
UR_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37427 entries, 0 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     37427 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37427 non-null  object
 3   Sentiment_Polarity      37427 non-null  float64
 4   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

All the null values have been eliminated

**3.Sanity checks**

In [ ]:
#inspecting the elements in the Sentiment column
set(UR_df['Sentiment'])

{'Negative', 'Neutral', 'Positive'}

Let's check if range of values in Sentiment_Polarity column matches with the Sentiment of the review

In [ ]:
for sentiment in UR_df['Sentiment'].unique():
  print(f'The value distribution of Sentiment Polarity of {sentiment} reviews')
  print(UR_df[UR_df['Sentiment']==sentiment]['Sentiment_Polarity'].describe())
  print('\n')

The value distribution of Sentiment Polarity of Positive reviews
count    2.399800e+04
mean     3.724021e-01
std      2.526559e-01
min      5.551115e-18
25%      1.666667e-01
50%      3.300000e-01
75%      5.000000e-01
max      1.000000e+00
Name: Sentiment_Polarity, dtype: float64


The value distribution of Sentiment Polarity of Neutral reviews
count    5158.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
Name: Sentiment_Polarity, dtype: float64


The value distribution of Sentiment Polarity of Negative reviews
count    8.271000e+03
mean    -2.561728e-01
std      2.354828e-01
min     -1.000000e+00
25%     -3.645833e-01
50%     -1.833333e-01
75%     -8.125000e-02
max     -2.523234e-18
Name: Sentiment_Polarity, dtype: float64

In [ ]:
#inspecting elements in the Sentiment_Polarity column
UR_df[(UR_df['Sentiment_Polarity']>1) | (UR_df['Sentiment_Polarity']<-1)]

Empty DataFrame
Columns: [App, Translated_Review, Sentiment, Sentiment_Polarity, Sentiment_Subjectivity]
Index: []

Therefore,all the elements in Sentiment_Polarity lie within the range [-1,1].

In [ ]:
#inspecting elements in the Sentiment_Sujectivity column
UR_df[(UR_df['Sentiment_Subjectivity']<0) | (UR_df['Sentiment_Subjectivity']>1)]

Empty DataFrame
Columns: [App, Translated_Review, Sentiment, Sentiment_Polarity, Sentiment_Subjectivity]
Index: []

Therefore,all the elements in Sentiment_Subjectivity lie within the range [0,1].

In [ ]:
#The number of unique apps in User Review dataframe
UR_df['App'].nunique()

865

After cleaning,The User Review dataframe **UR_df** contains the reviews for **865** applications



> ## ***Merging the Play Store and User reviews data***

To find correlation between the features in PS_df and UR_df,let's merge the two dataframes

In [ ]:
#Creating a new dataframe by merging UR_df and PS_df
new_df_merged=pd.merge(left=PS_df,right=UR_df,how='inner',on='App')

In [ ]:
new_df_merged.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Last_update_year,Last_update_month,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,HEALTH_AND_FITNESS,4.0,2490.0,3.8,500000,Free,0.0,Everyone 10+,Health & Fitness,2017-02-17,1.9,2.3.3 and up,2017,2017,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,HEALTH_AND_FITNESS,4.0,2490.0,3.8,500000,Free,0.0,Everyone 10+,Health & Fitness,2017-02-17,1.9,2.3.3 and up,2017,2017,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,HEALTH_AND_FITNESS,4.0,2490.0,3.8,500000,Free,0.0,Everyone 10+,Health & Fitness,2017-02-17,1.9,2.3.3 and up,2017,2017,Works great especially going grocery store,Positive,0.40,0.875000

In [ ]:
new_df_merged['App'].nunique()

816

There are **816** apps common to both User Review datafame **UR_df** and Playstore dataframe **PS_df**